spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/issue-tracker?&characterEncoding=UTF-8&serverTimeZone=Asia/Seoul
    password: team-30

logging:
  level:
    org.hibernate.SQL: debug
    codesquad.backend:
        issuetracker: debug

